<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row text-center">
    <div class="col-lg-12 my-2">
      <h1>Bem-vindo <%= user.email %></h1>
      <p class="lead">Você precisa sair para criar outra conta</p>
    </div>
  </div>

  <%- include('includes/messages') %>
<%- include('includes/footer') %>